* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.header {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}

.startBtn {
    margin-top: 30px;
    font-size: 30px;
    color: white;
    float: right;
    background-color: pink;
    margin-right: 00px;
    border-radius: 10px;
}

.pauseBtn {
    margin-top: 30px;
    font-size: 30px;
    color: white;
    display: inline;
    float: right;
    margin-right: 400px;
    /* margin-right: 0px; */
    background-color: pink;
    border-radius: 10px;
}

.score {
    margin-top: 30px;
    background-color: pink;
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 330px;
}

.map {
    width: 900px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    opacity: 0.4;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: content-box;
}

.mapItem {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #333;
}

.snake {
    background-color: yellow;
}

.mapItem.food:before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: yellow;
    animation: food 1s alternate infinite;
    box-shadow: 0 0 10px #ffffcc;
}

@keyframes food {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(0.5) rotate(360deg);
    }
}